<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ1Z5eN7K3gCs2FaTnIKljUjPQA8Jp-L8</string>
	<key>GCM_SENDER_ID</key>
	<string>728399425211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pigsave</string>
	<key>PROJECT_ID</key>
	<string>pigsave-c4738</string>
	<key>STORAGE_BUCKET</key>
	<string>pigsave-c4738.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728399425211:ios:180ccc994506298b87439e</string>
</dict>
</plist>